@media (max-width: 1000px) {
    .overlay-bottom {
        overflow-y: auto;
    }

    .task-form-top {
        align-items: center;
        flex-direction: column;
    }

    .middle-vector {
        display: none;
    }

    .task-form-column {
        width: 100%;
        margin-bottom: 24px;
    }

    .contact-icon {
        width: 40px;
        height: 40px;
        padding: 14px;
    }

    .submit-span {
        width: 54%;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 47px;
    }

    .overlay-content.add-task {
        padding: 32px 24px;
    }

    label,
    .category-option,
    .prio-style,
    .inputs,
    .assignee-option span,
    .priority-button span,
    .edit-priority-button span {
        font-size: 16px;
    }

    .inputs::placeholder,
    .inputs input::placeholder {
        font-size: 16px;
    }

    .submit-section {
        flex-direction: column;
        gap: 16px;
    }

    .inputs {
        padding: 8px;
    }

    .add-cancel-btns {
        right: 4px !important;
        gap: 2px !important;
    }

    .overlay-button {
        width: 20px !important;
        height: 20px !important;
    }

    .overlay-button svg {
        width: 16px !important;
        height: 16px !important;
    }

    .submit-span {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .overlay-content.active {
        height: 100vh;
        max-height: none;
        width: 100%;
        top: 0;
        border-radius: 0;
        padding: 40px 12px;
    }
    .task-overlay-content {
        padding: 40px 16px;
    }
}