@media (max-height: 700px) or (max-width: 1300px) {
  .backgroundColor {
    padding: 64px 48px 24px 48px;
  }

  h2 {
    font-size: 47px;
  }

  .prio-style,
  label {
    font-size: 16px;
  }
  
  .overlay-bottom {
    max-height: calc(100vh - 256px);
  }

  .inputs,
  .inputs input::placeholder,
  .inputs::placeholder,
  .category-option,
  .assignee-option span,
  .priority-button span,
  .category-options-btn::placeholder,
  .subtasks::placeholder {
    font-size: 16px;
  }

  .required-span,
  #subtaskHintMessage {
    font-size: 16px;
  }

  .inputs,
  .inputs input::placeholder,
  .inputs::placeholder,
  .category-option,
  textarea.inputs,
  .priority-button {
    padding: 8px !important;
  }

  #taskAssignee,
  #taskCategory,
  #editedTaskAssignee {
    background: white url('data:image/svg+xml;utf8,<svg width="5" height="3" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.54854 4.3L0.948535 1.7C0.631868 1.38333 0.561035 1.02083 0.736035 0.6125C0.911035 0.204167 1.22354 0 1.67354 0H6.82354C7.27354 0 7.58603 0.204167 7.76103 0.6125C7.93604 1.02083 7.8652 1.38333 7.54853 1.7L4.94854 4.3C4.84854 4.4 4.7402 4.475 4.62354 4.525C4.50687 4.575 4.38187 4.6 4.24854 4.6C4.1152 4.6 3.9902 4.575 3.87354 4.525C3.75687 4.475 3.64854 4.4 3.54854 4.3Z" fill="%232A3647"/></svg>') no-repeat right 16px center/10px 7px;

  }

  .submit-section {
    margin: 8px 0 8px 0;
  }

  .task-form-column {
    gap: 16px
  }
}

@media (max-width: 1000px) {
  .contact-icon {
    width: 24px;
    height: 24px;
    padding: 14px;
  }

  .task-form-top {
    flex-direction: column;
    align-items: center;
  }

  .task-form-column {
    margin-bottom: 16px;
    width: 100%;
  }

  .middle.vector {
    display: none;
  }
}

@media (max-width: 800px) {
  .overlay-bottom {
    max-height: calc(100vh - 288px);
  }
  .backgroundColor {
    max-height: calc(100vh - 160px);
    padding: 48px 8px;
  }

  .submit-section {
    flex-direction: column;
    gap: 16px;
  }

  .submit-span {
    width: 100%;
  }

  .submit-section div {
    width: 100%;
    justify-content: flex-end;
  }

  .add-cancel-btns {
    right: 4px !important;
    gap: 2px !important;
  }

  .overlay-button {
    width: 20px !important;
    height: 20px !important;
  }

  .overlay-button svg {
    width: 16px !important;
    height: 16px !important;
  }
}