.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 110px 96px;
    background-color: #F6F7F8;
    flex: 1;
}

.board-heading {
    position: sticky;
    left: 232px;
    right: 0;
    height: 232px;
    width: 100%;
}
.content{
    padding:0;
}

.h1-div{
    margin: 80px 0 40px 0;
    justify-content: space-between;
    padding: 0 64px;
    width: 100%;
}

h1{
    font-size: 61px;
    font-weight: 700;
}

.search-addTask {
    gap: 32px;
}

.search-input{
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    padding: 8px 16px;
    gap: 10px;
}

#searchInput{
    border: none;
    outline: none;
    height: 100%;
    background: transparent;
}

.search-input:focus-within{
    border-color: #77bbd5;
}

#searchInput::placeholder{
    color: #d1d1d1;
    font-size: 20px;
    font-weight: 400;
}

#searchInput:focus::placeholder{
    color: transparent;
}

#searchButton{
    background-color: transparent;
    border-left: #d1d1d1 1px solid;
    padding-left: 16px;
}

.add-task-button{
    gap: 4px;
    padding: 8px 16px;
    background: #2A3647;
    border-radius: 10px;
    border: 1px solid #2A3647;
    color: white;
}

.add-task-button span {
    font-size: 21px;
    font-weight: 700;
    line-height: 120%;
}

.board-titles {
    width: 100%;
    padding: 0 64px;
    margin-bottom: 4px;
    justify-content: space-between
}

.board-title{
    justify-content: space-between;
    width: 244px;
}

.board-title p{
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    color: #42526E;
}


.add-task-icon{
    width: 24px;
    height: 24px;
    border: 2px solid #2A3647;
    border-radius: 8px;
    padding: 3px;
    color: #42526E;
}








.board-bottom{
    margin-top: 232px;
    width: 100%;
}