@media (max-width: 1279px) {

.h1-div {
  margin: 56px 0 24px 0;
  padding: 0 32px;
}

h1 {
  font-size: 48px;
}

.search-addTask {
  gap: 24px;
}

#searchInput::placeholder {
  font-size: 16px;
}

#searchButton {
  width: 24px;
  height: 24px;
}

.add-task-button {
  padding: 14px 16px;
}

.add-task-button span {
  font-size: 18px;
}

.board-titles {
  padding: 0 48px;
}

.board-title p {
  font-size: 16px;
}

.board-bottom {
  padding: 8px 48px;
}

.no-task-item p{
  font-size: 16px;
}

.task-card {
  gap: 16px;
}

.progress-bar-container {
  width: 80%;
}

#technicalTask,
#userStory {
  font-size: 16px;
}

.task-card p {
  font-size: 16px;
}
}

@media (max-width: 1023px) {

.h1-div {
  margin: 48px 0 16px 0;
  padding: 0 32px;
}

.board-titles {
  padding: 0 32px;
}

.board-bottom {
  padding: 8px 32px;
}

.task-card {
  gap: 16px;
}

.progress-bar-container {
  width: 50%;
}
}

@media (max-width: 1000px) {
  
.h1-div {
  padding: 0 16px;
  margin: 48px 0 24px 0;
}

h1 {
  font-size: 47px;
}

.search-addTask {
  gap: 8px;
}
#searchInput {
  width: 100%;
}

.search-input {
  width: 50%;
  padding: 2px 16px;
}

#searchInput::placeholder {
  font-size: 16px;
}

#searchButton {
  width: 16px;
  height: 16px;
}

.add-task-button {
  padding: 8px 16px;
}

.add-task-button span {
  font-size: 16px;
}

.board-titles {
  padding: 0 8px;
}

.board-title {
  padding: 0 0px;
}

.board-title p {
  font-size: 16px;
}

.board-bottom {
  padding: 8px 16px;
  gap: 12px;
}

.task-card {
  gap: 8px;
}

#technicalTask,
#userStory {
  font-size: 16px;
}

.task-members span:nth-child(2) {
  left: 20px;
}

.task-members span:nth-child(3) {
  left: 40px;
}

.task-members span:nth-child(4) {
  left: 60px;
}
}
@media (max-width: 800px) {
  .board-title {
    padding: 0 16px;
  }
  .no-task-item {
    margin-right: 16px;
    
  }
  .background {
    max-height: calc(100vh - 160px);
  }
  .add-task-button span{
    display: none;
  }
  .add-task-button {
    padding: 3px;
  }
  .add-task-button svg {
    margin: 0;
  }
  .search-input{
    display: none;
  }
  .search-input-mobile {
    display: flex;
    width: 95%;
    margin-bottom: 16px;
  }
  .board-bottom {
    flex-direction: column;
    margin-bottom: 8px;
    padding: 8px 0 8px 16px;
  }
  .board-title p{
    font-size: 27px;
  }
  .task-card {
    width: 252px;
    min-width: 252px;
    flex-shrink: 0;
    margin: 6px;
  }
  .board-column-bottom {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    touch-action: pan-x;
  }
}