/* Farben, Kreise, visuelle Details für die Kontakte-Seite */

.contactCircle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  border: solid 2px white;
  font-weight: 400;
  font-size: 16px;
}

.ownContactCircle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: #29abe2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: solid 2px black;
  font-weight: 600;
  font-size: 16px;
}

.BigContactCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #29abe2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  border: solid 2px white;
  font-weight: 500;
  font-size: 47px;
  flex-shrink: 0;
}

.ownBigContactCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  color: #29abe2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  border: solid 4px black;
  font-weight: 700;
  font-size: 47px;
  flex-shrink: 0;
}

.letterHeader {
  display: flex;
  align-items: center;
  max-width: 352px;
  width: 100%;
  padding-left: 36px;
  font-size: 20px;
  font-weight: 400;
  height: 58px;
  flex-shrink: 0;
  color: black;
}

.separatorList {
  width: 100%;
  max-width: 352px;
  background-color: #d1d1d1;
  border-radius: 8px;
  height: 2px;
  margin-bottom: 8px;
  flex-shrink: 0;
}
