body {
    margin: 0;
    padding: 0;
    background-color: lightgray; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-logo {
    width: 274px;
    height: 334.07px;
    margin: auto;
}

