* {
    font-family: 'Inter', sans-serif;
    box-sizing: content-box;
  }
body{
    padding: 0;
    background: #F6F7F8;;
    margin: 0;
    flex-direction: column;
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

header img {
    height: 121px;
    width: 100px;
    padding-top: 40px;
    padding-left: 40px;
}

.header-desktop a,
.header-mobile a {
    border: solid;
    border-radius: 8px;
    padding: 16px 15px;
    color: white;
    text-decoration: none;
    background-color: #2A3647;
}

.header-desktop a:hover {
    background-color: #29ABE2;
}

.header-desktop {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
}

.header-desktop span,
.header-mobile span{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}

.header-mobile-div {
    display: none;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

main {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.login-container {
    margin: 0 auto;
    width: 80%;
    max-width: 652px;
    padding: 20px;
    text-align: center; 
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white;
}

button {
    font-weight: 700;
    margin-top: 30px;
    font-size: 21px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 70%; 
}

.mail_icon {
    background-image: url(../img/LogIn/mail.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right 10px center;
}
.lock_icon {
    background-image: url(../img/LogIn/lock.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}

.login-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container input { 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 20px;
    cursor: pointer;
}

.login-container input::placeholder {
    color: #ccc;
    padding-left: 20px;
}

.login-container h2 {
    font-size: 61px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 30px;
}

.login-container img {
    margin-bottom: 30px;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;

}
.login-btn:hover {
    background-color: #29ABE2;
}
.guest-login-btn:hover {
    border-color: #29ABE2;
    color: #29ABE2;
}

.login-btn {
    background-color: #2A3647; 
    color: white; 
    padding: 15px 24px; 
    border-radius: 8px; 
    cursor: pointer; 
    margin-right: 10px;
}

.guest-login-btn {
    background-color: #ffffff; 
    color: rgb(11, 11, 11); 
    padding: 15px 24px; 
    border-radius: 8px; 
    cursor: pointer; 
    border: solid 1px;
}

#msgBox {
    margin-top: 20px; 
    color: red;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%;
}

footer a {
    margin: 0 15px; 
    text-decoration: none; 
    color: #CDCDCD;
}

@media (max-width: 428px) {
    main {
        display: block;
        margin-top: 110px;
    }
    header img {
        height: 77px;
        width: 64px;
    }
    .login-container {
        margin: 0 20px;
    }
    .login-container h2 {
        font-size: 47px;
    }
    .inputs {
        width: 100%;
    }
    button {
        margin-top: 0;
        width: 70%;
        font-size: 16px;
    }
    .login-btn {
        margin-top: 32px;
        margin-right: 0;
    }
    .login-buttons {
        flex-direction: column;
        gap: 21px;
    }
    .header-desktop {
        display: none;
    }
    .header-mobile-div {
        display: flex;
        flex-direction: row;
        margin-top: 77px;
    }
}