nav {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0;
}

header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 116px;
    padding-right: 40px;
    width: 100%;
    height: 96px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header h3 {
    font-weight: 400;
    font-size: 20px;
}

.help {
    height: 32px;
    width: 32px;
}

.help:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

#menu{
    background: #2a3547;
    border-radius: 20px 0 20px 20px;
    padding: 8px;
    width: 150px;
    height: 158px;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 131%;
    right: 50%;
    transform: translateX(16%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
}

.userInfo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

#menu a{
    padding: 8px 16px;
    font-size: 16px;
    text-align: left;
    color: #cdcdcd;
    width: 100%;
}

#menu.not-visible{
    transform: translateX(200%);
    pointer-events: none;
    opacity: 0;
}

#menu a:hover{
    background: #2a3d59;
}


main{
    width: 100%;
    flex: 1;
    justify-content: flex-start;
    min-height: 100vh;
}

.join {
    width: 100px;
    height: auto;
}

.login-menu{
    gap:128px;
    width: 100%;
}

.login-link{
    gap: 8px;
    padding: 8px 56px;
    width: 100%;
}

.login-link:hover{
    background: #2a3d59;
}

.icon {
    width: 30px;
    height: 30px;
}

.menuOption {
    gap: 8px;
    padding: 8px 56px;
    cursor: pointer;
}

.menuOption:hover{
    background-color: #2a3d59;
}

.menuOption:hover img,
.menuOption:hover p {
  transform: translateY(-1px);
}

.menuOption p{
    color: #A8A8A8;
    font-size: 16px;
    line-height: 1.6;
}

.aktiveNav {
    color: #FFFFFF;
    background: #091932;
}

.aktiveNav:hover{
    background-color: #091932;
    cursor: default !important;
    color: white !important;
    transform: none !important;
    font-weight: 100 !important;
}
.aktiveNav:hover img,
.aktiveNav:hover p {
  transform: none;
}

.privacyPolicy:hover {
    color: rgb(26, 175, 224);
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 900;
}

.legalNotice:hover {
    color: rgb(26, 175, 224);
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 900;
}

span {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
}


.legalLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.legalLinks a {
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
}

.legalLinks a:hover {
    color: rgb(26, 175, 224);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 110px 96px;
    background-color: #F6F7F8;
    flex: 1;
}

@media (min-width: 1920px) {
  nav {
    left: 50%;
    transform: translateX(-960px);
  }

}
