nav {
  height: 100vh;
  width: 232px;
  background-color: #2a3647;
  z-index: 1000;
  position: fixed;
}
.navContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 1024px;
  height: 100%;
  padding: 64px 0;
}

header {
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 10%);
}
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(1920px - 232px);
  padding: 20px 40px 20px 116px;
  height: 96px;
}

header h3 {
  font-size: 20px;
}

.help {
  height: 32px;
  width: 32px;
}

.help:hover {
  transform: scale(1.1);
}

.menu {
  gap: 15px;
}

.menu a {
  width: 100%;
}

#menu {
  background: #2a3547;
  border-radius: 20px 0 20px 20px;
  padding: 10px;
  width: 150px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 76px;
  right: 0px;
  transform: translateX(16%);
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}

.userInfo {
  position: relative;
  gap: 16px;
}


#menu.not-visible {
   display: none;
   }

#menu { 
  display: flex;          
  flex-direction: column;  
  position: absolute;       
  z-index: 10000;          
}


#menu a {
  pointer-events: auto;
  cursor: pointer;
}


.userInfo, .userInfo * {
  pointer-events: auto;  
}

#menu a {
  padding: 8px 0 8px 16px;
  font-size: 16px;
  text-align: left;
  color: #cdcdcd;
  width: 100%;
}

#menu.not-visible {
  transform: translateX(200%);
  pointer-events: none;
  opacity: 0;
  display: none;
}

#menu a:hover {
  background: #2a3d59;
}

.nav-menu-top {
  gap: 128px;
  width: 100%;
}

.join {
  width: 100px;
  height: auto;
}

.login-menu {
  gap: 128px;
  width: 100%;
}

.login-link {
  gap: 8px;
  padding: 8px 56px;
  width: 100%;
}

.login-link:hover {
  background: #2a3d59;
}

.icon {
  width: 30px;
  height: 30px;
}

.menuOption {
  gap: 8px;
  padding: 8px 56px;
  cursor: pointer;
}

.menuOption:hover {
  background-color: #2a3d59;
}

.menuOption:hover img,
.menuOption:hover p {
  transform: translateY(-1px);
}

.menuOption p {
  color: #a8a8a8;
  font-size: 16px;
}

.aktiveNav {
  color: #ffffff;
  background: #091932;
}

.aktiveNav:hover {
  background-color: #091932;
  cursor: default !important;
  color: white !important;
  transform: none !important;
  font-weight: 100 !important;
}
.aktiveNav:hover img,
.aktiveNav:hover p {
  transform: none;
}

.privacyPolicy:hover {
  color: rgb(26, 175, 224);
  cursor: pointer;
  transform: scale(1.05);
  font-weight: 900;
}

.legalNotice:hover {
  color: rgb(26, 175, 224);
  cursor: pointer;
  transform: scale(1.05);
  font-weight: 900;
}

span {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.legalLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.legalLinks a {
  width: 100%;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
}

.legalLinks a:hover {
  color: rgb(26, 175, 224);
}

.initials-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 56px;
  height: 56px;
}
.initials-button:hover {
  background-color: #e9e7e7;
  border-radius: 50px;
}

.initials-button img {
  width: 56px;
  height: 56px;
  display: block;
}

.initials-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #29abe2;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
}

.hidden-userinfo {
  display: none !important;
}

.joinM {
  display: none;
}

.helpMobileLink {
  display: none;
}

@media (max-width: 1399px) {
 
  nav {
    width: 186px; /* 232px → -20% */
  }

  .navContent {
    padding: 51px 0; /* 64px → -20% */
  }

  .headerContent {
    padding: 16px 32px 16px 93px; /* 20px 40px 20px 116px → -20% */
    height: 77px;
  }

  header h3 {
    font-size: 16px; /* 20px → -20% */
  }

  .help {
    width: 26px;
    height: 26px; 
  }

  .menu {
    gap: 12px; 
  }

  #menu {
    top: 60px;
   right: 0px;
    transform: translateX(13%);
  }

  .userInfo {
    gap: 13px;
  }

  .nav-menu-top,
  .login-menu {
    gap: 102px;
  }

  .join {
    width: 80px; 
  }

  .login-link,
  .menuOption {
    gap: 6px;
    padding: 6px 40px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .initials-button {
    width: 45px;
    height: 45px; 
  }

  .initials-button img {
    width: 45px;
    height: 45px;
  }

  .initials-text {
    font-size: 16px;
  }

  span {
    font-size: 11px;
  }

  .legalLinks a {
    padding: 6px; 
  }

  .legalLinks {
    gap: 3px;
  }
}

@media (max-width: 1099px) {
  
  nav {
    width: 167px; 
  }

  .navContent {
    padding: 46px 0; 
  }

  .headerContent {
    padding: 14px 29px 14px 84px;
    height: 67px;
  }

  header h3 {
    font-size: 14.4px; 
  }

  .help {
    width: 23px;
    height: 23px;
  }

  .menu {
    gap: 11px;
  }

  #menu {
    top: 53px;
  right: 0px;
    transform: translateX(12%);
  }

  .userInfo {
    gap: 11px; 
  }

  .nav-menu-top,
  .login-menu {
    gap: 92px;
  }

  .join {
    width: 72px;
  }

  .login-link,
  .menuOption {
    gap: 5px;
    padding: 5px 40px; 
  }

  .icon {
    width: 22px;
    height: 22px; 
  }

  .initials-button {
    width: 40px;
    height: 40px; 
  }

  .initials-button img {
    width: 40px;
    height: 40px;
  }

  .initials-text {
    font-size: 14.4px; 
  }

  span {
    font-size: 9.9px;
  }

  .legalLinks a {
    padding: 5.4px;
  }

  .legalLinks {
    gap: 2.7px;
  }
}

@media (max-width: 799px) {
  #menu {
    width: 140px; 
    padding: 16px; 
    top: 40px;
    right: 6px;
    transform: translateX(12%);
    gap: 8px;
  }
  #menu a {
    padding: 5px 0 5px 11px;
    font-size: 16px; /* 13px -10% */
  }
  .helpMobileLink {
  display: flex;
}
  body {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  nav {
    height: 80px;
    bottom: 0;
    width: 100vw;
  }
  .navContent {
    display: flex;
    height: 100%;
    padding: 0px 16px;
    justify-content: center;
  }
  .nav-menu-top {
    height: 100%;
  }
      
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 0px;
  }
  .menuOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0;
    height: 100%;
    max-width: 100px;
  }
  .menuOption:hover {
    border-radius: 16px;
  }
  .aktiveNav {
    border-radius: 16px;
  }
  .legalLinks {
    display: none;
  }
  .join {
    display: none;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .menuOption p {
    font-size: 14px;
    font-weight: 400;
  }
  .headerContent {
    padding: 0 16px;
    height: 80px;
  }
  header h3 {
    display: none;
  }
  #helpLink {
    display: none;
  }
  .joinM {
    display: flex;
  }
}

@media (max-height: 860px) {
  .nav-menu-top {
    gap: 64px;
  }
}
