.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 110px 96px;
    background-color: #F6F7F8;
    flex: 1;
}
main{
    justify-content: flex-start;
}

.privacy-container {
    left: 232px;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 38px 78px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 28px;
}

h2 {
    font-size: 1.3em;
    margin-top: 30px;
}