.displayF {
  display: flex;
}

.input-field,
.password-field {
  width: 100%;
  justify-content: center;
}

.is-invalid {
  border: 2px solid #FF3B30 !important;
  border-radius: 8px;
  outline: none;
}

.success-box {
  max-width: 1920px;
  max-height: 1024px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.global-error {
  color: #e03131;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 8px;
  min-height: 20px;
}

.global-error.is-hidden {
  visibility: hidden;
}


.error-text {
  display: block;
  height: 16px;
  line-height: 16px;
  margin: 6px 0;
  font-size: 16px;
  color: #ff0d00;
  visibility: hidden;
}

.input-error {
  border: 2px solid #FF3B30 !important;
}


body {
  margin: 0 auto;
  background-color: #f6f7f8;
  justify-content: center;
  max-width: 1920px;
  max-height: 1024px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}

.visibleNo {
  opacity: 0;
}

header img {
  height: 121px;
  width: 100px;
  margin: 40px 0 0 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  min-height: 0;
  padding-left: 0;
}

.login-container {
  position: relative;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  padding: 48px 32px;
  max-width: 598px;
  width: 100%;
  max-height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form#signUpForm {
  padding-top: 48px;
  max-width: 700px;
}

.login-container input:focus:not(.input-error) {
  background-color: white !important;
  border-color: #ccc !important;
  box-shadow: none !important;
}

button {
  margin-top: 30px;
  font-weight: 700;
  font-size: 21px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 422px;
  gap: 16px;
}

.inputs input,
.password-wrapper input {
  width: 100%;
  max-width: 422px;
  height: 42px;
  padding: 0 16px;
  font-size: 16px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;

}

.password-wrapper {
  position: relative;
  width: 100%;
  max-width: 422px;
}

.password-field .hidden-input {
  font-family: monospace !important;
  color: black !important;
}

input#password,
input#password2 {
  font-family: "Inter", sans-serif !important;
}

input#password.no-bg-icon,
input#password2.no-bg-icon {
  background-image: none !important;
}

.password-field input::placeholder {
  color: transparent;
}

.password-field input:focus {
  color: black;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 2;
}

.toggle-password.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.arrow-left-line {
  position: absolute;
  top: 62px;
  left: 48px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.arrow-left-line img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.name_icon {
  background-image: url(../img/SignUp/person.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right 10px center;
}

.mail_icon {
  background-image: url(../img/SignUp/mail.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right 10px center;
}

.lock_icon {
  background-image: url(../img/SignUp/lock.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 14px center;
}

.login-container input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
}

.login-container input::placeholder {
  color: #ccc;
  padding-left: 20px;
}

h2 {
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
  gap: 16px;
  padding-bottom: 12px;
}

.selector {
  display: inline-block;
  border-bottom: 3px #29abe2;
}

.login-buttons {
  display: flex;
  justify-content: center;
  max-width: 272px;
}

.login-btn {
  padding: 15px 24px;
  font-weight: 700;
  font-size: 21px;
  background: #2a3647;
  color: white;
  border-radius: 8px;
  margin: 0;
}

.login-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#accept {
  margin-right: 16px;
  height: 24px;
  width: 24px;
  border-radius: 3px;
}

.accept_div {
  display: flex;
  flex-direction: column;

}

.accept_div a {
  color: #29abe2;
  text-decoration: none;
}

.accept_div a:hover {
  text-decoration: underline;
}

#msgBox {
  margin-top: 6px;
  font-size: 16px;
  min-height: 20px;
  /* Platz immer da, auch wenn leer */
  color: red;
  font-family: "Inter", sans-serif;
  padding-left: 4px;
  text-align: start;
}

.password-wrapper.input-error {
  border: 1px solid red !important;
  border-radius: 8px;
}

input.input-error {
  border: 1px solid red !important;
}

input#name,
input#email {
  background: white url(../img/SignUp/person.png) no-repeat right 10px center !important;
  background-size: 25px !important;
}

input#email {
  background-image: url(../img/SignUp/mail.png) !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

input:focus {
  background-color: white !important;
  box-shadow: none !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  gap: 24px;
}

footer a {
  text-align: center;
  margin-top: auto;
  padding: 32px 0;
  color: #cdcdcd;
}

footer a:hover {
  color: #29abe2;
  font-weight: bold;
}

#signUpSuccess {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(2 2 2 / 24%);
  display: none;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 80px;
}

#text {
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background: #2a3647;
  color: white;
  min-width: 280px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  transform: translateY(100px);
  animation: slideUp 0.4s ease-out forwards;
}