
* {
    font-family: 'Inter', sans-serif;
    box-sizing: content-box;
  }
body {
    flex-direction: column;
    padding: 0;
    background-color: #F6F7F8;
}
/*   ---------- Header ---------- */
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

header img {
    height: 121px;
    width: 100px;
    padding-top: 40px;
    padding-left: 40px;
}

.header-right {
    border-radius: 8px;
    padding: 16px 15px;
    color: white;
    background-color: #2A3647;
}

.header-right p {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}


.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 110px 96px;
    background-color: #F6F7F8;
    flex: 1;
}

main {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 60px;
}

.login-container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 652px;
    text-align: center; 
    padding: 20px; 
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
}

button {
    margin-top: 30px;
    font-weight: 700;
    font-size: 21px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.arrow-left-line {
    position: absolute;
    left: 15px;
}

.name_icon {
    background-image: url(../img/SignUp/person.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right 10px center;
}

.mail_icon {
    background-image: url(../img/SignUp/mail.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right 10px center;
}

.lock_icon {
    background-image: url(../img/SignUp/lock.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}   

.login-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container input {
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 20px;
    cursor: pointer;
}
.login-container input::placeholder {
    color: #ccc;
    padding-left: 20px;
}

.login-container h2 {
    font-size: 61px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 30px;
}

.selector{
    margin-bottom: 30px;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
}

.login-btn {
    background-color: #2A3647; 
    color: white; 
    padding: 15px 24px; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 21px; 
    margin-right: 10px;
}
.login-btn:hover {
    background-color: #29ABE2;
}

.guest-login-btn {
    background-color: #ffffff; 
    color: rgb(11, 11, 11); 
    padding: 15px 24px; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 18px;
}

.accept_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.accept_div a {
    color: #29ABE2;
    text-decoration: none;
}

#msgBox {
    margin-top: 20px; 
    color: red;
}
footer {
    /* position: fixed;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%;
}

footer a {
    margin: 0 15px; 
    text-decoration: none; 
    color: #CDCDCD;
}

#signUpSuccess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2 2 2 / 24%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#text {
    padding: 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
}
 @media (max-width: 428px) {
    main {
        display: block;
        margin-top: 110px;
    }
    header img {
        height: 77px;
        width: 64px;
    }
    .login-container h2 {
        font-size: 47px;
    }
    .inputs {
        width: 100%;
    }
    button {
        margin-top: 0;
        width: 70%;
        font-size: 16px !important;
    }
    .login-btn {
        margin-top: 32px;
        margin-right: 0;
        width: 50%;
    }
 }