*{
    font-size: medium;
    font-family: Inter, sans-serif;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    scrollbar-width: auto;

    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

body{
    max-width: 1920px;
    background: white;
    padding-left: 232px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #8c9092;
}

button {
    border: none;
    cursor: pointer;
    background: white;
}

.flexR{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flexC{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.displayNone{
    display: none;
}

