.subtask-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subtask-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.subtask-list li::before {
    content: '•';
    margin-right: 10px;
    font-size: 20px;
    color: #2A3647;
}

.subtask-list li:hover {
    background-color: #eeeeee;
}

.subtask-list li.editing,
.subtask-list li:has(input.edit-subtask-input) {
    background-color: white !important;
    border-bottom: 2px solid #29ABE2;
    padding-bottom: 4px;
    cursor: default;
}

.subtask-list li .subtask-actions,
.subtask-list li .subtask-edit-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subtask-list li:hover .subtask-actions {
    display: flex;
}

.icon-divider {
    color: #d1d1d1;
    font-size: 20px;
    margin: 0 4px;
    user-select: none;
}

.edit-subtask-input {
    flex-grow: 1;
    border: none;
    background-color: white;
    padding: 4px 8px;
    font-size: 14px;
    width: 100%;
    height: 24px;
    outline: none;
}

.edit-subtask-input:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}


#subtasks:focus {
    border: 1px solid #29ABE2 !important;
    box-shadow: 0 0 3px #29ABE2;
}

.subtask-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px; 
  width: 100%;
}


.input-add-cancel-wrapper {
  position: relative;
  width: 100%;
}

#subtasks {
  width: 100%;
  padding-right: 44px; 
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 16px;
  font-size: 16px;
}

.plus-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



.add-cancel-btns {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}

.display-none {
    display: none !important;
}

.overlay-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.overlay-button svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
    fill: #2A3647;
    transition: fill 0.2s ease;
}

.overlay-button:hover {
    background-color: #eeeeee;
}

.overlay-button:hover svg {
    fill: #1F2A3D;
}
