

main{
    width: 100%;
    flex: 1;
    justify-content: flex-start;
    min-height: 100vh;
}

header h3 {
    font-weight: 400;
    font-size: 20px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}
.question {
    width: 20px;
    height: 20px;
}
.question:hover {
    transform: scale(1.2);
}

.into {
    max-height: 76px;
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
}
h1 {
    font-weight: 700;
    font-size: 61px;
}
h2 {
    font-weight: 400;
    font-size: 27px;
    color: #2A3647;
}
.separater {
    height: 75%;
    width: 4px;
    background-color: #29ABE2;
    border-radius: 8px;
}
.nameAndToDo {
    display: flex;
    gap: 16px;
    height: 100%;
    width: 100%;
}

