<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  
</head> 

<body>
    <form onsubmit="login() ; return=false;">
    <input type="email" required id="email" >
    <input type="password" required id="password" >
    <button>Login</button>
    </form>
    <div id="msgBox"></div>
    <script src="login.js">
        function login() {
            let email = document.getElementById('email');
            let password = document.getElementById('password');
            let user = user.find(u => u.email == email.value && u.password == password.value);
            console.log(user);
            if(user) {
               console.log('User gefunden')
            }
        }
const urlParams = new URLSearchParams(window.location.search);

const msg = urlParams.set('msg', 'date');

if(msg) {
    msgBox.innerHTML = msg;
}
</script>
    </body>
</html>